{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/new-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">Books are my escape and passion.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hello! I'm Sofia, a passionate reader who loves getting lost in the pages of novels.
          From the enchanting worlds of fantasy to the heart-stopping suspense of thrillers,
          I can't get enough! Welcome to "Bibliophile's Corner," where I'll be sharing my thoughts,
          reviews, and insights on the books I adore.
        </p>
        <p>
          Whether you're here to find your next great read or just to chat about the stories that captivate us,
          I'm so glad you stopped by! Feel free to reach out—I'd love to hear from you!

        </p>
        <p>
           Just drop me a message or leave a comment in the contact section. Let's connect over our shared love of stories!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
